@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&-telephone-link{
		display: flex;
		flex-direction: column;
		@include fonts.text-body-telephone;
	}&-telephone-link-description{
		@include fonts.text-body-header;
		color: variables.$headerInfo-color
	}&-action-button{
		@include mixins.headerTopButton
	}
}
.header__search {
	position: relative;
	margin: 30px auto;
	max-width: 470px;
	&-field{
		@include fonts.text-body-search;
		
		border: none;
		text-align: center;
		padding:12px 10px ;
		outline: none;
		border-radius: 31px;
		width: 100%;
		background-color:variables.$inputBG-color ;
		color: variables.$inputIcon-color;
	}&-icon{
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 30%;
		color: variables.$inputIcon-color;
	}
}



.header__bottom {
	display: flex;
	@include fonts.text-body-header;
	justify-content: space-around

}
.header__bottom-menu {
	
	
	
}
.header__bottom-menu-list {
	display: flex;
	@extend %reset-link;
	
}
.header__bottom-menu-list-item {
	@extend %reset-link;
	color: variables.$black-color;
	padding-right: 30px;
	
}

// .header__bottom-menu-list-item::after{
// 	content:'';
// 	background-image: url('/src/assets/icons/DropDown.svg');
// 	display: block;
// 	position: absolute;
// 	width: 16px;
//   height: 16px;
// 	top: 0;
// 	left: 0;
// }
.header__bottom-menu-list-item-dropdown {
	background-image: url('/src/assets/icons/DropDown.svg');
	background-repeat: no-repeat;
	background-position: right center;
	padding-left: 20px; 
}

.header__bottom-action {
	
}
.header__bottom-action-button::before{
	display: block;
	position: absolute;
	width: 27px;
	height: 25px;
	top: 1px;
	left: 1px;
}
.header__bottom-action-button:nth-child(1)::before{
	content:'';
	background-image: url('/src/assets/icons/Cart.svg');


}
.header__bottom-action-button:nth-child(2)::before{
	content:'';
	background-image: url('/src/assets/icons/Heart.svg');


}
.header__bottom-action-button {
	position: relative;
	@include mixins.headerBottomButton;
	color: variables.$secondary-color;
	@extend %reset-link;

}
.header__bottom-action-button-count{
	border-radius: 10px;
	padding: 8px 15px;
	background-color: variables.$spanBottomBtn;
}


