@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&-telephone-link {
		display: flex;
		flex-direction: column;
		@include fonts.text-body-telephone;
	}
	&-telephone-link-description {
		@include fonts.text-body-header;
		color: variables.$headerInfo-color;
	}
	&-logo {
		margin: 0 auto;
	}
	&-action-button {
		@include mixins.headerTopButton;
	}
}
.header__nav-mobile,
.header__nav-tablet {
	display: none;
}
.header__search {
	position: relative;
	margin: 30px auto;
	max-width: 464px;
	&-field {
		@include fonts.text-body-search;
		border: none;
		text-align: center;
		padding: 12px 10px;
		outline: none;
		border-radius: 31px;
		width: 100%;
		background-color: variables.$inputBG-color;
		color: variables.$inputIcon-color;
	}
	&-icon {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 30%;
		color: variables.$inputIcon-color;
	}
}

.header__bottom {
	display: flex;
	@include fonts.text-body-header;
	justify-content: space-around;
	align-items: center;
	&-dropdown{
		display: flex;
		align-items: center;
	}
	&-dropdown-menu{
		padding-right: 3rem;
		position: relative;
	}
	&-dropdown-menu-button{
		background: none;
		border: none;
		@include fonts.text-body-header;
		cursor: pointer;
		padding: 6px;
	}
	&-dropdown-menu-list{
		@extend %reset-link;
		padding-top: 20px;
		width: 168px;
		position: absolute;
		background-color: variables.$secondary-color;
		box-shadow: 0 0 20px 0 variables.$BoxShadow-color;
		visibility: hidden;
		pointer-events: none;
		border-radius: 15px;
	}
	&-dropdown-menu-list li{
		padding-left: 15px;
		padding-bottom: 20px;
	}
	&-dropdown-menu-list-link{
		@extend %reset-link;
	}
	&-action-button {
		position: relative;
		@include mixins.headerBottomButton;
		color: variables.$secondary-color;
		@extend %reset-link;
	}
	&-action-button-count {
		border-radius: 10px;
		padding: 8px 15px;
		background-color: variables.$spanBottomBtn;
	}
	&-action-button::before {
		content: '';
		display: block;
		position: absolute;
		width: 27px;
		height: 25px;
		top: 12px;
		left: 20px;
	}
	&-action-button:nth-child(1)::before {
		background-image: url('/src/assets/icons/Cart.svg');
	}
	&-action-button:nth-child(2)::before {
		background-image: url('/src/assets/icons/Heart.svg');
	}
}

.header__bottom-dropdown-menu-button
	> .header__bottom-dropdown-menu-button:focus,
.header__bottom-dropdown-menu-button:hover {
	color: variables.$primary-color;
}
.header__bottom-dropdown-menu
	> .header__bottom-dropdown-menu-button:focus
	+ .header__bottom-dropdown-menu-list {
	visibility: visible;
	pointer-events: auto;
}







@media (max-width: variables.$vp-medium) {
	.header__bottom-action {
		display: flex;
		flex-flow: column wrap;
	}
	.header__bottom-action-button:nth-child(2) {
		margin-top: 15px;
	}
	.header__bottom-dropdown{
		align-items: start;
	}
}

@media (max-width: variables.$vp-small) {
	.header__top-action,
	.header__bottom-action,
	.header__top-telephone {
		display: none;
	}
	.header__nav-tablet {
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		max-width: 137px;
	}
}
@media (max-width: variables.$vp-x-small) {
	.header__nav-tablet,
	.header__top-action,
	.header__bottom-action,
	.header__top-telephone {
		display: none;
	}
	.header__nav-mobile {
		display: flex;
	}
}

	// &-menu-list{
	// 	display: flex;
	// 	@extend %reset-link;
	// }&-menu-list-item{
	// 	@extend %reset-link;
	// 	color: variables.$black-color;
	// 	padding-right: 30px;
	// }&-menu-list-item-dropdown{
	// 	background-image: url('/src/assets/icons/DropDown.svg');
	// 	background-repeat: no-repeat;
	// 	background-position: right center;
	// 	padding-left: 20px; }