@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.teafind {
	margin-top: 50px;
}

.teafind__content {
	display: flex;
	justify-content: space-around;

}

.teafind__content-sidebar {
	background-color: variables.$primary-color;
	border-radius: 14px;
	padding: 50px 16px;
	max-width:276px;
	text-align: center;

}

.teafind__content-sidebar-title {
	@include fonts.text-body-teafind;

}
.teafind__content-sidebar-text {
	@include fonts.text-teafind-sidebar ;
	padding: 68px 0;

}
.teafind__content-sidebar-more {
	
	@include mixins.buttonMore;
}
.teafind__content-sidebar-more:hover{
	@include mixins.buttonMoreHover;
}
.teafind__content-slider {
	margin: 0 auto;
	width: 650px;
	overflow: hidden;

}
.teafind__content-slider-line{
	display: flex;
	position: relative;
	left:0;
	transition: all ease 1s;
		// flex-flow: column wrap;
}
.teafind__content-slider-slide:hover {
	box-shadow: 0px 10px 20px 1px variables.$BoxShadow-color; 
	border-radius: 14px;
}
.teafind__content-slider-slide-item {

}
.teafind__content-slider-slide {
}
.teafind__slider-button-prev,
.teafind__slider-button-next {

	cursor: pointer;
	background: none;
	border: none;
}
.teafind__slider-button-icon{
	width: 39px;
	height: 39px;
}
.teafind__slider{
	display: flex;
}
@media (max-width: variables.$vp-medium){
	.teafind__content {
		display: block;
	}
	.teafind__content-sidebar{
		margin: 0 auto;
		padding: 20px 32px;
		width: 360px;
	}
	.teafind__content-sidebar-text{
		display: none;
	}
	.teafind__content-sidebar-more{
		
	}
	.aaa{
		display: flex;
	}

}