@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.teafind {
	margin-top: 50px;
}

.teafind__content {
	display: flex;

}

.teafind__content-sidebar {
	background-color: variables.$primary-color;
	border-radius: 14px;
	padding: 50px 16px;
	max-width:276px;
	text-align: center;

}

.teafind__content-sidebar-title {
	@include fonts.text-body-teafind;
	color:variables.$secondary-color;
}
.teafind__conten-sidebar-text {
	@include fonts.text-teafind-sidebar ;
	padding: 68px 0;
	color: variables.$oppacity-color;

}
.teafind__content-sidebar-more {
	@include mixins.buttonMore;
}
.teafind__content-sidebar-more:hover{
	@include mixins.buttonMoreHover;
}
.teafind__content-slider {
	display: flex;
	width: 780px;
	overflow: hidden;

}
.teafind__content-slider-line{
	display: flex;
	position: relative;
	left:0;
	transition: all ease 1s;
		// flex-flow: column wrap;
}
.teafind__content-slider-slide:hover {
	box-shadow: 0px 10px 20px 1px variables.$BoxShadow-color; 
	border-radius: 14px;
}
.teafind__content-slider-slide-item {

}
.teafind__content-slider-slide {
}
.teafind__slider-button-prev,
.teafind__slider-button-next {
	z-index: 5;
	cursor: pointer;
	background: none;
	border: none;
}
@media (max-width: variables.$vp-medium){
	// .teafind__content {
	// 	display: block;
	// }
}