@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.header {
}
.header__nav {
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__top-telephone {

}

.header__top-telephone-link {
	display: flex;
	flex-direction: column;
	
	 @include fonts.text-body-telephone;
}
.header__top-telephone-link-description {
	@include fonts.text-body-header;
	color: variables.$headerInfo-color
}
.header__top-logo {
}
.logo {
}
.header__top-action {
}
.header__top-action-button {
	@include mixins.headerButton
}
.header__search {
	position: relative;
	margin: 30px auto;
	max-width: 470px;

}
.header__search-field {
	@include fonts.text-body-search;
	border: none;
	text-align: center;
	padding:12px 10px ;
	outline: none;
	border-radius: 31px;
	width: 100%;
	background-color:variables.$inputBG-color ;
	color: variables.$inputIcon-color;
}

.header__search-icon{
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 30%;
	color: variables.$inputIcon-color;
}