@use '/src/scss/modules/fonts';
@use '/src/scss/modules/variables';
@use '/src/scss/modules/mixins';
.header {
}
.header__nav {
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__top-telephone {

}

.header__top-telephone-link {
	display: flex;
	flex-direction: column;
	
	 @include fonts.text-body-telephone;
}
.header__top-telephone-link-description {
	@include fonts.text-body-header;
	color: variables.$headerInfo-color
}
.header__top-logo {
}
.logo {
}
.header__top-action {
}
.header__top-action-button {
	@include mixins.headerButton;
}
