@import 'mixins';
@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic');




@mixin text-body($font-size) {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

@mixin text-body($font-size, $font-weight, $font-color) {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;

}
@mixin text-body-header{
  @include text-body(14px,400,$black-color);
}

@mixin text-body-h2{
  @include text-body(42px,400, $black-color);
  @media (max-width: $vp-small) {
    @include text-body(25px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(16px);
  }
}

@mixin text-body-h3 {
  @include text-body(32px,400,$black-color);
  @media (max-width: $vp-small) {
    @include text-body(23px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(14px);
  }

}
@mixin text-body-teafind{
	@include text-body(32px,700, $secondary-color);
  @media (max-width: $vp-small) {
    @include text-body(16px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(10px);
  }
	
}
@mixin text-body-footer{
	@include text-body(22px,400,$black-color);
  @media (max-width: $vp-small) {
    @include text-body(20px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(10px);
  }
}
@mixin text-body-p {
	@include text-body(18px,400,$oppacity-color);

}
@mixin text-body-more{
	@include text-body(18px,400, $primary-color);
  @media (max-width: $vp-small) {
    @include text-body(15px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(8px);
  }
	
}
@mixin text-body-card{
	@include text-body(15px,600,$black-color);
  @media (max-width: $vp-x-small) {
    @include text-body(10px);
  }
}
@mixin text-body-footer-p{
	@include text-body(32px,400,$black-color);
  @media (max-width: $vp-small) {
    @include text-body(25px);
  }
  @media (max-width: $vp-x-small) {
    @include text-body(10px);
  }
}