.header {
}
.header__nav {
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__top-telephone {
}
.header__top-telephone-link {
	display: flex;
	flex-direction: column;
}
.header__top-telephone-link-description {
}
.header__top-logo {
}
.logo {
}
.header__top-action {
}
.header__top-action-button {
}
