@import 'variables';

@mixin menu {
	display: flex;
	font-size: $lowFont-size;
}
@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin button {
	border-radius: 21px;
	padding: 8.5px 20px;
	box-shadow: 0px 0px 0px 1px rgba(192, 194, 203);
}
@mixin search {
	margin-top: 27px;

	display: flex;
	justify-content: center;

	input {
		outline: none;
		border: none;
		display: block;
		width: 100%;
		max-width: 464px;
		padding: 11.5px 20px;
		color: #a7aed2;
		background-color: #f4f5fa;
		border-radius: 31px;
		text-align: center;
	}
}
@mixin flex-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
@mixin dropdown {
	min-width: 15em;
	position: relative;
	margin: 2em;
	span{
		// background-color: #74d69a;
		@include flex-between();
		padding: 1em;
		cursor: pointer;
		transition: color 0.3s;
	}
	// display: none;
	// position: absolute;
	// background-color: #f4f5fa;
	// min-width: 160px;
	// bottom: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	// z-index: 1;
	// a {
	// 	float: none;
	// 	color: $font-color;
	// 	padding: 12px 16px;
	// 	text-decoration: none;
	// 	display: block;
	// 	text-align: left;
	// }
}
@mixin closeDropdown{
		padding: 0.2em 0.5em;
		background: $secondary-color;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
		border-radius: 15px;
		color: #9fa5b5;
		position: absolute;
		top: 28px;
		left: 37%;
		width: 180px;
		transform: translateX(-50%);
		opacity: 0;
		display: none;
		transition: 0.2s;
		z-index: 1;
		li{
			padding: 0.7em 0.5em;
			margin: 0.3em 0;
			border-radius: 0.5em;
			cursor: pointer;
		}
		a:hover{
			color: $primary-color;
		}
}
@mixin bottomButton {
	background-color: $primary-color;
	color: $secondary-color;
	border-radius: 10px;
	padding: 15px 10px 15px 40px;
	span {
		background-color: #74d69a;
		color: $secondary-color;
		padding: 8px 14px;
		border-radius: 10px;
	}
}
@mixin moreButton{
	width: 186px;
	outline-style : solid;
	outline-width : 1.5px;
	display: block;
	text-align: center;
	color: $secondary-color;
	padding: 15px 10px;
	border-radius: 10px;
	outline-color:$secondary-color ;
}
@mixin cardHover{
	box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
	border-radius: 14px;

}
// @mixin burger{

// }
// @mixin tabletAction{
// 	display: flex;
// 	height: 45px;
// 	width: 45px;
// 	background: url(/src/assets/icons/Cart.svg) no-repeat 10px ;
// 	background: url(/src/assets/icons/Heart.svg) no-repeat 10px ;

// }
