// colors
$primary-color: #46c578;
$secondary-color: #fff;
$oppacity-color: #d1f0dd;
$spanBottomBtn:#74d69a;
$font-color: #303030;
$headerInfo-color: #a7aed2;
$black-color: $font-color;
$btnBoxShadow-color:rgba(192, 194, 203);
$input-color:#f4f5fa;
$BoxShadow-color:rgba(0, 0, 0, 0.2); 
$dropDown-color:#9fa5b5;

// breakepoints
$vp-x-small: 576px;
$vp-small: 768px;
$vp-medium: 978px;